@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	border-sizing: border-box;
}

body {
	background: #222222;
}

.green {
	color: #4caf50;
}

.red {
	color: #e53935;
}

#frame {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%; 
	width: 100%;
	background: #222222;
	background-image: 
}

#content {
	position: relative;
	width: 1280px;	
	margin: auto;
}

#video-container {
	background: #000;
	margin: auto;
	width: 1280px;
	height: 720px;
	margin-top: 50px; 
	box-shadow: 0 5px 10px #111;
}

#stats {
	position: relative;
	display: block;
	float: right;
	margin-right: 40px;
	width: 160px;
	text-shadow: 1px 1px #000;
	transition: .2s;
}

#toggle-stats {
	position: absolute;
	top: 10px;
	right: -40px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
}

#toggle-stats:hover {
	cursor: pointer;
}

#toggle-stats > div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 14px;
	height: 14px;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
}

.stat-frac {
	margin-top: 22px;
}

.stat-frac:nth-child(2) {
	margin-top: 12px;
}

.stat-day {
	display: inline-block;
	color: #f57c00;
}

.stat-ammount {
	float: right; 
	color: #fff;
}

.stat-ammount span {
	text-align: right; 
	display: block;
}